<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Data</title>
</head>
<body>

<p th:text="'First name: ' + ${student.firstName}">Salam</p>
<p th:text="'Last name: ' + ${student.lastName}">Salamov</p>
<p th:text="'Last name: ' + ${student.email}">something@ada.edu.az</p>
<p th:text="'School: ' + ${student.school}">-</p>
<select>
    <option th:each="course : ${student.courses}"
    th:text="${course.courseName}" th:value="${course.id}">
    </option>
</select>

<a th:href="@{/student/edit/{stId}(stId=${student.id})}">Edit</a>
<a th:href="@{/student/list}">Back to list</a>

</body>

</html>