<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style>

    .my-form{
        margin-top: 40px;
        width: 40%;
        margin-left: 30%;
        box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
        border: 1px solid #dadbdd;
        padding: 10px;
    }

    .my-container{
        width: 80%;
        margin-left: 10%;
    }



</style>
<body>


<div class="my-container mb-3 mt-3">
    <div th:if="${session.current_user}">
        <div class="row">

            <div class="col-2">
                <a href="/posts/" class="btn btn-primary">All Posts</a>
            </div>
            <div class="col-2">
                <a href="/posts/liked" class="btn btn-primary">Like Posts</a>
            </div>
            <div class="col-2">
                <a href="/" class="btn btn-warning">Switch User</a>
            </div>
            <div class="col-2">
                <a href="/profile" class="btn btn-warning">My Profile</a>
            </div>

            <div class="col-2">
                <a href="/logout" class="btn btn-warning">Logout</a>
            </div>
        </div>
    </div>
    <div th:unless="${session.current_user}">
        <div class="row">
            <div class="col-2">
                <a href="/logout" class="btn btn-warning">Logout</a>
            </div>
        </div>
    </div>

</div>





<form action="#" th:action="@{/switch-profile}" method="post" class="my-form">

    <div th:if="${session.current_user}">
        <h2 class="text-center">Current user: <span th:text="${session.current_user.getUsername}"></span></h2>
    </div>
    <div th:unless="${session.current_user}">
        <h2 class="text-center">No profile opened!</h2>
    </div>


    <h2 class="text-center">Switch user</h2>

    <div th:if="${message}">
        <span style="color: red;text-align: center" th:text="${message}"></span>
    </div>

    <div class="form-group">
        <label for="username_id" class="form-label">Username</label>
        <input type="text" class="form-control" id="username_id" th:name="username">
    </div>

    <div class="form-group">
        <label for="password_id" class="form-label">Password</label>
        <input type="password" class="form-control" id="password_id" th:name="password">
    </div>




    <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-primary">Switch Profile</button>
        <a th:href="@{/profile/register}" class="btn btn-primary" style="margin-left: 10px">Create New Profile</a>
    </div>
</form>




</body>
</html>