<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Film</title>
</head>
<body>
<h1>Enter film data</h1>
<form action="#" th:action="@{/films/save}" th:object="${film}" method="post">
    <input type="hidden" th:field="*{film_id}">
    TITLE: <input type="text" th:field="*{title}"><br>
    CATEGORY: <input type="text" th:field="*{film_category}"><br>
    LANGUAGE: <input type="text" th:field="*{language}"><br>
    RELEASE_YEAR: <input type="date" placeholder="yyyy-mm-dd" th:field="*{release_year}"><br>
    DURATION: <input type="text" th:field="*{film_duration}"><br>

    <input type="submit" value="New film">
</form>


</body>
</html>